* {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
}

#canvas-container {
  width: 100vw;
  height: 80vh;
}

canvas {
  background-color: black;
}

#play-button{
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  border: 1px;
  width: fit-content;
  padding: 15px 8px 15px 8px;
}
