* {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  background-color: black;
}

#play-button{
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  border: 1px;
  width: fit-content;
  padding: 15px 8px 15px 8px;
}

#overlay{
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 10px;
  background-color: rgba(255, 255,255, 0.3);
  width: 100vw;
  justify-content: space-around;
  display: grid;
}



#right-half{
  padding-left: 50px;
  /* background-color: blue; */
}

#right-half, #left-half {
  height: 100%; /* Ensure both halves take full height of the overlay */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}